.comments-section {
  display: flex;
  margin-top: 20px;
  align-items: center;
  .comments-user-logo {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    margin-left: 10px;
  }
  .comment-user-section {
    display: flex;
    flex-direction: column;
    .comment-username {
      font: bold;
      font-size: 1.2rem;
      margin-left: 10px;
    }
    .comment-usermessage {
      font-size: 16px;
      margin-left: 10px;
      margin-top: 3px;
    }
  }
}
.reply-comment {
  font-size: 16px;
  border-left: gray solid 1px;
  margin-left: calc(2rem + 10px + 10px);
  margin-top: 3px;
}
