@import "../../../_base.scss";
.video-card {
  margin: 0.001rem;
  border: white solid 1px;
  width: 350px !important;
  .video-tumbnail-img {
    position: relative;
    img {
      border-radius: 10px;

      width: 100%;
    }
    span {
      position: absolute;
      bottom: 10px;
      right: 10px;
    }
  }
}
