@import "../../../_base.scss";

.video-card {
  margin: 0.001rem;
  border: white solid 1px;
  width: 350px !important;
  .video-tumbnail-img {
    position: relative;
    img {
      border-radius: 10px;

      width: 100%;
    }
    span {
      position: absolute;
      bottom: 8px;
      right: 8px;
      background: $black-primary;
      padding: 0.1rem;
      font-size: 15px;
      color: white;
    }
  }
  .author-chanel-img {
    img {
      border-radius: 50%;
      width: 30px;
      height: 30px;
    }
  }
  .video-title {
    span {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
  }
}
.video-section-container {
  --no-of-videos-per-row: 5;
  display: flex;
  flex-wrap: wrap;
  .video-row {
    display: flex;
    flex-direction: row;
    .video-row > .video-card {
      flex: 0 0 calc(100% / var(--no-of-videos-per-row));
      max-width: calc(100% / var(--no-of-videos-per-row));
    }
  }
}

@media (min-width: $breakpoint-large) and (max-width: $breakpoint-extralarge) {
}
@media (min-width: $breakpoint-medium) and (max-width: $breakpoint-large) {
  .video-section-container {
    --no-of-videos-per-row: 3;
  }
}
@media (min-width: $breakpoint-small) and (max-width: $breakpoint-medium) {
}
@media (min-width: $breakpoint-mobile) and (max-width: $breakpoint-small) {
}
@media (min-width: $breakpoint-mediumsmall) and (max-width: $breakpoint-mobile) {
}
@media (min-width: $breakpoint-extrasmall) and (max-width: $breakpoint-mediumsmall) {
}
@media (min-width: 50px) and (max-width: $breakpoint-extrasmall) {
}
