.live-chat-section {
  margin: 2rem;
  width: 20%;
  margin-left: 1rem;
  border: #ccc solid 1px;
  height: 70%;
  .chat-header {
    text-align: center;
    font-size: 2rem;
    background-color: #ccc;
  }
}
