@mixin leftPaneItems() {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin: 1.5rem 0rem;
  cursor: pointer;
  font-size: 0.8rem;
  img {
    width: 1.5rem;
    height: 1.5rem;
  }
  font-size: 1rem;
}

::-webkit-scrollbar {
  width: 50px;
  height: 50px;
}

.left-container {
  height: 100%;
  width: 100%;
  .left-pane-items {
    height: 50%;
    width: 100%;
  }
  .left-pane-home {
    @include leftPaneItems();
  }
  .left-pane-shorts {
    @include leftPaneItems();
  }
  .left-pane-subscription {
    @include leftPaneItems();
  }
  .left-pane-you {
    @include leftPaneItems();
  }
}

.left-pane {
  height: 100vh;
  width: 10%;
  border-right: #ccc solid 0.1rem;
  overflow: hidden;
  &:hover {
    overflow-y: scroll;
  }
}
