::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
}

.yt-guide-section {
  display: flex;
  flex-direction: column;
  section {
    padding-bottom: 0.2rem;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;

    div {
      display: flex;
      align-items: center;
      justify-items: center;
      width: 90%;
      border-radius: 6px;
      padding-left: 1rem;
      &:hover {
        background-color: #ececec;
        cursor: pointer;
      }
    }
    icon {
      font-size: 2.5rem;
    }
    img {
      width: 1.5rem;
      height: 1.5rem;
      background-color: transparent;
    }
    span {
      text-decoration: none;
      color: #565656;
      margin: 1rem;
      @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
    }
  }
  .yt-guide-name {
    font-size: 1.2rem;
    margin: 1rem 0rem;
    width: 90%;
    border-radius: 6px;
    padding-left: 1rem;
    font: bold;
    a {
      margin: 0rem;
    }
  }
}
