@import "../../_base.scss";
.comments-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: scroll;

  .total-comments {
    width: 100%;
    text-align: start;
    margin-left: 10px;
    margin-bottom: 20px;
  }
  .comments-form {
    width: 100%;
    display: flex;
    gap: 20px;
    padding-left: 10px;
    margin-bottom: 1rem;

    .user-profile {
      max-width: 10%;
      width: 35px;
      height: 35px;
      border-radius: 50%;
    }
    form {
      width: 100%;
      .comment-inputbox {
        width: 90%;
        border: none;
        background: transparent;
        border-bottom: solid 1px #cccccc73;
        padding: 0.5rem;
        color: white;
        font-weight: 300;
        &:focus {
          outline: none;
        }
      }
      .comment-btn {
        border: none;
        border-bottom: solid 1px #cccccc6b;
        padding: 0.5rem;
        background-color: #cccccc3b;
        color: white;
        font-weight: 200;
      }
    }
  }
  .video-comments {
    display: flex;
    margin-top: 20px;
    gap: 10px;
    padding-left: 10px;
    width: 100%;
    align-items: center;
    img {
      width: 35px;
      height: 35px;
      border-radius: 50%;
    }
    .user-name {
      font-weight: bold;
    }
    .user-comment {
      font-size: 15px;
    }
  }
}
